body {
  font-family: "Trebuchet MS";
}

h1 {
  font-size: 150%;
  margin: 0.5em 0;
  text-align: center;
}

#main {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

#editor {
  position: relative;
  width: 640px;
  height: 100%;
  float: left;
  font-size: 11pt;
}

#videoContainer {
  width: 640px;
  float: left;
}

#video {
  width: 640px;
  height: 480px;
  border: none;
}

#bar {
  text-align: center;
}

#playPause, #download {
  width: 80px;
}

#slider {
  display: inline;
  width: 500px;
  margin: 15px 0;
}

#timing {
  text-align: center;
  margin: 0 30px;
}
